<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    {{!-- begin container --}}
    <div class="container">
        <a class="navbar-brand" href="#">Scrape CLT</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/scrape">New Articles</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/saved">Saved Articles</a>
                </li>
            </ul>
        </div>
    </div>
    {{!-- end container --}}
</nav>

<section id="header">
    <div class="jumbotron text-center">
        <h1 class="display-4">Scrape CLT</h1>
        <hr class="my-4">
        <p class="lead">Get the latest news around the Queen City Now!
        </p>
    </div>
</section>

<section id="featured">
    <div class="container">
        {{#if scrapedData}} {{#each scrapedData}}
        <div class="card">
            <div class="card-header">
                <h3>Featured in Charlotte</h3>
            </div>
            <div class="card-body">
                <h5 class="card-title">{{scrapedData.title}}</h5>
                <p class="card-text">{{scrapedData.sumary}}</p>
                <a href="{{scrapedData.link}}" class="btn btn-primary">Visit Article</a>
            </div>
        </div>
        {{/each}} {{else}}
        <div class="card">
            <div class="card-header text-center">
                <h3>Looks like we don't have any articles yet
                    <span>
                        <i class="far fa-frown"></i>
                    </span>
                </h3>
            </div>
        </div>
        {{/if}}
    </div>
</section>