<footer class="text-center">
    <div class="container">
        <p>Made with &hearts; by
            <a href="https://www.treseanadam.com" target="_blank">Tresean Adam</a>
        </p>
    </div>
</footer>